<html>
	Congratz..Your are now logged in.
	<br />
	<br />
	Check the how ""Registration02 View"" works.
	<br />
	<br />
	Its really important.
	<br />
	<br />
	Check how the model and form works.<br />How to extend the User Model with one-to-one field is also done
	<br />
	<br />
	Check the view its really important. Here you can also login with your emailID.
	<br />All the codes are written there.(def register and def auth_login)
	
	<br /><br /><br />
	You can also import the registration module from the ''python dist-packages'', and custom it from the workspace.
	All that to be refered.
</html>